[Unit]
Description=asare-backend

[Service]
ExecStart=/opt/jdk-12/bin/java -Xms32m -Xmx64m -jar /opt/asare/backend-assembly-1.1.1.jar
Restart=always

[Install]
WantedBy=multi-user.target
